
@font-face {
    font-family: 'RobotoFlex';
    src: url('../static/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    font-size: 0.9rem;
    -webkit-tap-highlight-color: transparent;
}

html{
    scrollbar-width: none;
}

:root{
    --light: #efe6de;
    --dark: #5b95a8;
    --bobr: #bb9a89;
    --light_blue: #bbcfd8;
    --dark_bobr: #ac7f62;
    --blue: #73afc3;
    --blue_hover: #47a1be;
    --black: rgb(90, 90, 90);
    --black_bold: rgb(49, 49, 49);
}


/* SECTION 1 */

.section_1{
    display: flex;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* SECTION 1 text  */
.section_1 .main_text_div{
    width: 60%;
    /* height: 400px; */
    background-color: #fff;
    margin-right: 10%;
}

.section_1 .main_text_div .main{
    position: relative;
}

.section_1 .main_text_div h1{
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--dark);
}

.section_1 .main_text_div h2{
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 20px;
    color: var(--dark);
}

.section_1 .main_text_div p{
    font-size: 1.2rem;
    color: var(--black);
    margin-bottom: 14px;
    line-height: 150%;
    padding-right: 10%;

    b{
        font-weight: 500;
        color: var(--black_bold);
        font-size: 1.2rem;
    }

}



.sign_up_button{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: calc(0.6rem + 20px);
    font-weight: 700;
}

/* SECTION 1 image */

.section_1 .image_div{
    width: 70%;
    align-self: stretch;
    background-color: #fff;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative;
}

.section_1 .image_div .behind_image{
    width: 90%;
    height: 100%;
    background-color: var(--light_blue);
    position: relative;
    z-index: 0;
    left: -50px;
    top: -20px;
}

.section_1 .image_div .image{
    width: 90%;
    height: 100%;
    background-color: var(--bobr);
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

/* SECTION 2  */

.section_2{
    display: flex;
    padding: 50px 200px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

/* SECTION 2 description */
.section_2 .description{
    padding: 0 25%;
    text-align: center;
    *{
        text-align: center;
        margin-bottom: 20px;
    }
}

.section_2 .description h2{
    font-size: 0.9rem;
    color: var(--black);
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 2px;
    padding: 0 20px;

    &::after{
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: var(--blue);
        margin: 0 auto;
        margin-top: 20px;
    }

}

.section_2 .description h3{
    font-size: 1rem;
    color: var(--black);
    font-family: 'Gilroy';
    font-weight: 600;
}

/* SECTION 2 cards */

.section_2 .cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
}

.section_2 .cards .card{
    width: 15vw;
    max-height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.section_2 .cards .card .image{
    width: 15vw;
    height: 15vw;
    background-color: var(--bobr);
    border-radius: 50%;
}

.section_2 .cards .card .description{
    font-size: 1.4rem;
    color: var(--black);
    margin-top: 40px;
    padding: 0 20px;
}


/* SECTION 3 */

.section_header{
    font-size: 2.6rem;
    color: var(--black_bold);
    margin-bottom: 60px;
    text-align: center;
    font-weight: 400;
    &::after{
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: var(--blue);
        margin: 0 auto;
        margin-top: 20px;
    }
}

.section_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    background-color: #fff;
}

.section_3 .advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.section_3 .advantages .advantage{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    max-width: 45%;
    cursor: pointer;
}

.section_3 .advantages .advantage .image{
    width: 100px;
    height: 100px;
    background-color: var(--bobr);
    border-radius: 50%;
}

.section_3 .advantages .advantage .description{
    width: calc(45vw - 400px);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
}

.section_3 .advantages .advantage .description .name{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 10px;
    display: inline-block;
}

.section_3 .advantages .advantage .description .text{
    font-size: 1.2rem;
    color: var(--black);
    font-family: 'Gilroy';
    display: inline-block;
}

/* SECTION 4 */

.section_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    background-color: #fff;
}

.section_4 .cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.section_4 .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    cursor: pointer;
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section_4 .cards .card .name{
    font-size: 1.4rem;
    color: var(--black);
    margin-top: 40px;
    margin-bottom: 90px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    width: calc((100vw - 400px) * 0.21);
}

.section_4 .cards .card .price{
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--black_bold);
    margin-bottom: 10px;
    text-align: center;
    margin-top: calc(1.2rem + 100px);

    &::after{
        content: ' руб.';
        font-size: 1rem;
        margin-left: 5px;
    }
}

.section_4 .cards .card .description{
    color: var(--black);
    font-family: 'Gilroy';
    text-align: center;
    margin: 1vw;
}

.section_4 .cards .card .description li{
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
}

.section_4 .cards .card .button_div{
    align-self: stretch;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* SECTION 5 */

.section_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    background-color: #fff;
}

.section_5 .main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.section_5 .main_div ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;

}

.section_5 .main_div ul li{
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    color: var(--black);
    font-size: 1.1rem;
    position: relative;
    padding-left: 30px; 
    &::before {
        content: "•"; /* Кастомный маркер (точка) */
        color: var(--bobr); /* Цвет маркера */
        font-size: 4rem; /* Размер маркера */
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(calc(-50% + 0.84rem));
    }
}

.section_5 .main_div .diploms{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    align-self: stretch;
    background-color: var(--bobr);
}

.section_6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    background-color: #fff;
}

.section_6 .experience{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}

.section_6 .experience .case{
    width: 30%;
}

.section_6 .experience .case .emphasis{
    font-size: 3.2rem;
    color: var(--dark);
    font-weight: 500;
    text-align: center;
}

.section_6 .experience .case .description{
    font-size: 1.2rem;
    color: var(--black);
    font-family: 'Gilroy';
    text-align: center;
}

.slider {
    position: relative;
    max-width: 600px; /* Максимальная ширина слайдера */
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 100%
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    height: 100%;
    min-width: 100%; /* Каждая фотография занимает всю ширину контейнера */
    display: none; /* Скрываем все фотографии по умолчанию */
}

.slide.active {
    display: block; /* Показываем активную фотографию */
}

.slider-arrow {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--dark);
}

footer .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

footer .buttons button{
    background-color: var(--blue);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.whatsapp_footer{
    height: 50%;
    transform: translate(3%, 3%);
}
.tg_footer{
    height: 42%;
    transform: translate(-9%, 4%);
}

footer p{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

button:active{
    background-color: var(--blue_hover) !important;
}
@media (hover) {
    button:hover{
        background-color: var(--blue_hover) !important;
    }
}


@media screen and (max-width: 1100px) {
    .section_1 {
        padding: 50px 50px;
    }

    .section_2 .description{
        padding: 0 50px;
    }

    .section_3 .advantages .advantage .description{
        width: calc(100% - 120px);
    }

    .section_4 .cards .card{
        width: 35%;

        .name{
            font-size: 1.3rem !important;
        }
        .price{
            font-size: 1.2rem !important;
        }
    }

    .section_5{
        padding: 50px 50px;
    }

    .section_6 .experience .case .emphasis{
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width: 800px) {
    .section_1 {
        flex-direction: column;
        padding: 50px 20px;
    }

    .section_1 .image_div{
        width: calc(100% - 40px);                      
        margin: 40px 0;
        margin-top: 0;
        height: 80vh;
        justify-content: center;
        transform: translateX(8vw);
    }

    .section_1 .main_text_div{
        margin: 0;
        text-align: center;
        position: relative;
        .me{
            position: absolute !important;
            top: -20vh;
            left: 10vw;
            height: 400px;
            text-align: left;
            *{
                color: #fff
            }
        }
        .text{
            margin: 10px 0;
            padding: 0;
            text-align: left;
        }
        
    }

    .section_2{
        padding: 50px;

        .cards .card .description{
            padding: 0 20px;
            font-size: 1.2rem;
        }
    }

    .section_3{
        padding: 50px;

        .advantages{
            justify-content: center;
        }

        .advantages .advantage{
            min-width: 300px;
        }

        .advantages .advantage .description .name{
            font-size: 1.2rem;
        }

        .advantages .advantage .description .text{
            font-size: 1rem;
        }
    }

    .section_4 .cards{
        flex-direction: column;
    }

    .section_4 .cards .card{
        width: auto;
        margin: 0;
        margin-bottom: 40px;
        

        .name{
            width: 40vw;
        }
    }

    .section_5 .main_div{
        padding: 50px 20px;
        flex-direction: column;

        ul{
            margin: 0;
            padding: 0;
            width: 80vw
        }
        .diploms{
            height: 80vh;
            width: auto;
        }
    }

    .section_6{
        padding: 50px 20px;
    }

    .section_6 .experience{
        flex-direction: column;

        .case{
            margin: 0;
            margin-bottom: 40px;
            width: auto;
            text-align: center;

            .emphasis{
                font-size: 2.5rem;
                width: auto
            }
        }
    }

    
}

@media  screen and (max-width: 600px) {
    .section_1{
        padding: 50px 10px;
        
        .image_div{
            margin: 10px;
            width: calc(100% - 20px);
        }

        .main_text_div{
            .name{
                font-size: 1.6rem;
            }
        }
    }

    .section_2 .description{
        padding: 0;
    }

    .section_2 .cards{
        flex-direction: column;

        .card{
            width: auto;

            .image{
                width: 50vw;
                height: 50vw;
            }

            .description{
                max-width: 70%;
                margin: 10px 0;
                margin-bottom: 30px;
            }
        }
    }

    .section_4{
        padding: 50px 10px;

        .cards{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cards .card{
            width: auto;
            max-width: 50vw;
        }
    }

    .section_5{
        padding: 50px 10px;

        .main_div .diploms{
            margin: 0;
        }
    }
}

@media screen and (max-width: 400px) {
    .section_1{
        padding: 15px 5px;
    }
    .section_1 .main_text_div .me{
        position: absolute !important;
        top: -10vh;
        left: 10vw;
        height: 400px;
        text-align: left;
        *{
            color: #fff
        }
    }

    .section_1 .image_div{
        height: auto;
        margin: 0;
        width: calc(90vw - 20px);

        .behind_image{
            transform: translate(10vw, 5vw);
        }
        *{
            height: 50vh !important;
            width: calc(90vw - 20px) !important;
            transform: translateX(-5vw);
        }
    }

    .section_1 .main_text_div{
        width: auto;
        padding: 0 10px;
        .text{
            padding: 0 10px;
            font-size: 0.8rem;
        }
    }   

    .section_header{
        padding: 0;
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .section_2{
        padding: 15px 5px;
    }

    .section_2 .description *{
        font-size: 0.8rem !important;
        margin-bottom: 5px;
    }

    .section_3{
        padding: 15px 5px;
    }

    .section_3 .advantages{
        width: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section_3 .advantages .advantage{
        flex-direction: column;
        align-items: center;
        min-width: 150px;

        .description{
            width: auto;
            text-align: center;
            margin: 0;

            .name{
                padding-top: 2vw;
                font-size: 1rem;
            }
        }
    }

    .section_4 .cards .card{
        width: fit-content;
        width: 70vw;
        .name{
            width: 50vw;
        }
    }

    .section_5 .main_div .diploms{
        height: 50vh !important;
    }
}