* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    font-size: 0.9rem;
}

html{
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;
}


:root{
    --light: #efe6de;
    --dark: #5b95a8;
    --bobr: #bb9a89;
    --light_blue: #bbcfd8;
    --dark_bobr: #ac7f62;
    --blue: #73afc3;
    --blue_hover: #47a1be;
    --black: rgb(90, 90, 90);
    --black_bold: rgb(49, 49, 49);
    --cream: #fff8f3;
}






.sign_up .sign_up_button{
    margin-top: 20px;
    padding: 20px 50px;
    background-color: var(--dark) !important;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: calc(0.6rem + 20px);
    font-weight: 700;
    position: absolute;
    left: 50%;
    bottom: 5vw;
    transform: translateX(-50%);

    &:active{
        background-color: var(--blue_hover) !important;
    }

    @media (hover) {
        &:hover{
            background-color: var(--blue_hover) !important;
        }
    }

}

.sign_up{
    padding: 2vw 10vw 5vw 10vw;
    background-color: var(--blue);
    color: #fff;
    position: relative;

    .info{

        h1{
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 20px;
            max-width: 60%;
        }

        i{
            font-size: 2rem;
            margin: 20px 5px 20px 0;
        }
        .phone{
            display: inline-block !important;
            font-size: 1.8rem;
            font-weight: 500;
            margin: 20px 0;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            width: auto;

            &:active{
                color: var(--dark);
            }

            @media (hover) {
                &:hover{
                    color: var(--dark);
                }
                
            }


        }

        button{
            height: 10vh;
            background-color: var(--dark);
            border: none;
            cursor: pointer;
            border-radius: 50%;
            margin: 5px;
            width: 60px;
            height: 60px;
        }

        .whatsapp{
            height: 50%;
            transform: translate(3%, 3%);
        }
        .tg{
            height: 42%;
            transform: translate(-9%, 4%);
        }
    }

}

button:active{
    background-color: var(--blue_hover) !important;
}
@media (hover) {
    button:hover{
        background-color: var(--blue_hover) !important;
    }
}




@media screen and (max-width: 1100px) {
    .sign_up{
        max-height: none !important;
        height: auto !important;
    }

}

@media screen and (max-width: 600px) {
    .sign_up{
        padding: 5vw;
        text-align: center;
        h1{
            font-size: 1.7rem !important;
            max-width: 90vw !important;
            text-align: center;
        }
        .buttons{
            text-align: center;
        }
        .info{
            text-align: center;
        }
        p{
            font-size: 1.5rem !important;
        }
        .sign_up_button{
            position: static;
            transform: none;
        }

    }

}

@media screen and (max-width: 300px) {
    .sign_up h1{
        font-size: 1.2rem !important;
    }
    .sign_up .info .phone{
        font-size: 1.2rem !important;
    }
}



a{
    color: inherit !important;
}